@import "tailwindcss";

:root {
  --font-ovo: "Ovo", serif;
}

* {
  font-family: "Outfit";
}

.font-Ovo {
  font-family: var(--font-ovo), serif;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow,
.animate-spin_slow {
  animation: spin 12s linear infinite;
}
